{% extends "base.html" %}

{% block content %}
<h1 class="header">About us here</h1>
<p class="info">Beara Tourism Development LTD  is a community based community group  on the Beara peninsula  in Counties Cork and Kerry .
    The groups has developed the Beara Way walking trail 125km around the Beara Peninsula  and 12 loop walking trails.The Beara Way cycling route was developed in  2000 it follows quiet county roads along the coast of the peninsula .Beara Tourism is the lead partner in developing the largest  community based project  in the country ,The Beara Breifne Way a walking and cycling trail from Beara  to Leitrim /Cavan area  following  the March of o Sullivan Beara in 1603 .We are now developing the first Bridle Way in Ireland  with the assistance of Cork County Council.Please check Beara Tourism web site for more info www.bearatourism.com
    Beara Tourism
    www.bearatourism.com
    Tourism information including accommodation, festivals, walking trails and archaeology.</p>
<div>
    <img src="/static/images/S32.jpg" alt="man and woman on two separete horses" class="rounded float-left">
    <img src="/static/images/S33.jpg" alt="children on horses" class="rounded float-right">
</div>

{%endblock%}